<div class="container headerOffset">
  <div class="row">
  	<div class="breadcrumbDiv col-lg-12">
    	<ul class="breadcrumb">
      	<li> <%= link_to "Home", root_path %></li>
      	<li class="active"> Crear Un Nuevo Artículo para su tienda </li>
    	</ul>
  	</div>
	</div>
	Vista para mostrar productos
</div>